	table {
	  border: medium solid #6495ed;
	  border-collapse: collapse;
	  width: 50%;
	}
	th {
	  font-family: monospace;
	  border: thin solid #6495ed;
	  width: 50%;
	  padding: 5px;
	  background-color: #D0E3FA;
	}
	td {
	  font-family: sans-serif;
	  border: thin solid #6495ed;
	  width: 50%;
	  padding: 5px;
	  text-align: center;
	  background-color: #ffffff;
	}
	caption {
	  font-family: sans-serif;
	}
	.corps{
			background: #5b4ebf;
			color: #000000;
			font-family: 'Montserrat', sans-serif;
			margin-top: 10px;
			margin-left: 50px;
			margin: auto;
			width: 50%;
	}
	.navbar {
			margin-bottom: 0;
	}
	body {
		background: #5b4ebf;
		color: #f7f7f7;
		font-family: 'Montserrat', sans-serif;
	}
	h1,
	h2 {
		font-weight: bold;
	}
	p {
		font-size: 16px;
		color: #cdcdcd;
	}
	.jumbotron {
		position: relative;
		z-index:0;
		background: #000000;

		color: white;
		text-align: center;
	}
	.jumbotron p {
		color: white;
		font-size: 26px;
	}
	.btn-primary {
		color: #fff;
		background-color: transparent;
		border-color: white;
		margin-bottom: 5px;
	}
	.btn-primary:hover {
		color: #2C463C;
		background-color: white;
		border-color: white;
	}
	.navbar-inverse {
		background: #2E2F31;
		border: 0;
	}
	.navbar-inverse .navbar-nav li a {
		color: #f7f7f7;
		font-size: 16px;
	}
	.navbar-inverse .navbar-nav li a:hover {
		background: #000000;
	}
	.dropdown-menu {
		background: #2E2F31;
		border-radius: 0;
		border: 0;
	}
	.dropdown-menu li a {
		padding: 10px;
	}
	.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
		background: #2C463C;
	}
	.call-to-action {
	    z-index: -101;
	margin-left: 250px;
	text-align: center;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.glyphicon-large {
	font-size: 100px;
}
